{% extends 'base.html' %}

{% block title %}Форма изменения данных студента - {{student.name}} {{student.surname}}{% endblock %}

{% block body %}


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Cтудент - {{student.name}} {{student.surname}}</h1>
              <br><br><br>
                <form method="post">{% csrf_token %}
                    <p>Вы точно хотите удалить студента --> "{{ object.name }}"?</p>
                        <br>
                    <input type="submit" value="Удалить">
                </form>
      </div>
    </div>
  </section>


{% endblock %}
