<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Информация о студентах в базе данных</title>
</head>
<body>
        <h1>Данные всех студентов</h1>
<p>
        {% for one_student in all_students %}
        ID = {{ one_student.id }};
        Name = {{ one_student.name }};
        Surname = {{ one_student.surname }};
        Age = {{ one_student.age }};
        Sex = {{ one_student.sex }};
        Social url = <a href="{{ one_student.social_url }}">{{ one_student.social_url }}</a>

        <br>
        {% endfor %}
</p>
        <br>
        <form method="POST" action="{% url 'students' %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit">
        </form>
</body>
