{% extends 'base.html' %}

{% block title %}Предмет и учитель студента{% endblock %}

{% block body %}


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Предмет - {{student.subject.title}}</h1>

          <h2 class="fw-light">Студент - {{student.name}} {{student.surname}}</h2>

          <h2 class="fw-light">Учитель - {% for teacher in student.teacher.all %} {{teacher.name_surname}} {% endfor %} </h2>

        <form method="POST" action="{% url 'subject_delete' id=student.id %}">
                {% csrf_token %}

                <input type="submit", value="Удалить студента">
        </form>

                  <br><br><br>
<h2 class="fw-light">Обновить данные студента</h2><br>
        <form enctype="multipart/form-data" method="POST" action="{% url 'subject_update' id=student.id %}">
                {% csrf_token %}
                {{ form_save }}
                <input type="submit", value="Сохранить">
        </form>

      </div>
    </div>
  </section>




{% endblock %}
