{% extends 'base.html' %}

{% block title %}Учителя всех студентов{% endblock %}

{% block body %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Учителя студентов</h1>
          <br>
          {{ user.is_authenticated }}
  {% if user.is_authenticated %}

          <h2 class="fw-light">Добавить нового студента</h2>
          <br>
          <form enctype="multipart/form-data" method="POST" action="{% url 'teacher_info' %}">
                {% csrf_token %}
                {{ form }}
                <input type="submit">
        </form>

      </div>
    </div>
  </section>

<main>
 <div class="album py-5 bg-light">
    <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

  {% for one_student in all_students %}
        <div class="col">
          <div class="card shadow-sm">

            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">
                    {% for teacher in one_student.teacher.all %} {{teacher.name_surname}} {% endfor %}</text></svg>

            <div class="card-body">
              <p class="card-text">{{ one_student.name }} {{ one_student.surname }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{% url 'teacher_delete' id=one_student.id %}">
                Edit</a></button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Age: {{ one_student.age }}</button>
                   </div>

                <small class="text-muted">Teacher</small>
              </div>
            </div>
          </div>
        </div>
  {% endfor %}
   {% else %}
                <h3>Вам необходимо авторизоваться</h3>
                <p>Для авторизации перейдите по ссылке: <a href="{% url 'login' %}">Вход в личный кабинет</a>
  {% endif %}
      </div>
    </div>
  </div>
</main>

{% endblock %}